{:source-paths ["src"]
 :dependencies [[reagent "1.0.0-alpha2"]
                [re-frame "1.0.0"]]
 :nrepl {:port 3334}
 :builds {:dev {:target :react-native
                :init-fn {{clj-project-name}}.core/init
                :output-dir "app"
                :devtools {:autoload true}
                :closure-defines {"goog.DEBUG" true}}
          :prod {:target :react-native
                 :init-fn {{clj-project-name}}.core/init
                 :closure-defines {"goog.DEBUG" false}
                 :output-dir "app"
                 :compiler-options {:optimizations :advanced}}}}
